	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="{% if page.meta %} {{ page.meta }}{% else %}{{ site.description }}{% endif %}">
		<meta name="keywords" content="PHP,HTML,CSS,PHP Frameworks,Harmony Betta Framework,Harmony Framework, Betta Dev Indonesia">
		<meta name="author" content="Imam Ali Mustofa - Betta Dev Indonesia">
		<title>{% if page.title %} Harmony Documentation | {{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
		<link rel="icon" type="image/png" href="{{ '../img/harmony-logo-square-blue.png' | prepend: site.baseurl }}">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

		<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800,600' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>

	</head>